{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Label Page</title>
<style>
body{font-size:84%;}
.dustbin{width:100px; height:260px; line-height:1.4; background-color:gray; font-size:36px; font-family:"微软雅黑", "Yahei Mono"; text-align:center; text-shadow:-1px -1px #bbb; float:left;}
.dragbox{width:500px; padding-left:20px; float:left;}
.draglist{padding:10px; margin-bottom:5px; border:2px dashed #ccc; background-color:#eee; cursor:move;}
.draglist:hover{border-color:#cad5eb; background-color:#f0f3f9;}
.dragremind{padding-top:2em; clear:both;}
.draglist {
    width: 150px;
    height: 70px;
    background: #ffffff;
    -webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    float: left;
}
</style>
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script>
	function submitResult() {
		json_res = JSON.stringify(clusterOnScreen)
	      $.ajax( {
	         type: "POST",
	         url: "/saveLabeledRes",
	         data: {
	            labeledRes: json_res,
	            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
	         },
	         success: function (data) {
	            if (data == "success")
	               location.href = "/";
	            else {
	               alert(data)
	            }
	         },
	         error: function(data) {
	            alert("Login failed, please check your username!")
	         }
	      });
	}
</script>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="#">Paraphrase Dictionary</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         {% if not hasLogin %}  
         <li class="active"><a href="#">Unknow User</a></li>
         <li><a onclick="tryLogin()" href="#">login</a></li>
         {% else %}
         <li class="active"><a href="#">{{ username }}</a></li>
         
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Profile 
               <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="#">My task done: {{ taskCount }}</a></li>
               <li><a href="#">Confidence: {{ confidence }}</a></li>
               <li><a href="#">Level: {{ level }}</a></li>
               <li class="divider"></li>
               <li><a onclick="logout()" href="#">logout</a></li>
            </ul>
         </li>
         <li><a href="labelPage">Start now!</a></li>
         {% endif %}
         

      </ul>
   </div>
</nav>

<div class="dustbin"><br />完<br />成</div>
<div class="dragbox">
	{% csrf_token %}
    {% for dbId, nlpId, pname in phraseList %}
    	<div class="draglist" clusterId = {{ forloop.counter0 }} dbId={{ dbId }} nlpId={{ nlpId }} draggable="true">{{ pname }}</div>
    {% endfor %}
</div>
<div class="dragremind"></div>
<button type="button" class="btn btn-primary" onclick="submitResult()">
    submit
</button>
<script>
	/*var $ = function(selector) {
		if (!selector) { return []; }
		var arrEle = [];
		if (document.querySelectorAll) {
			arrEle = document.querySelectorAll(selector);
		} else {
			var oAll = document.getElementsByTagName("div"), lAll = oAll.length;
			if (lAll) {
				var i = 0;
				for (i; i<lAll; i+=1) {
					if (/^\./.test(selector)) {
						if (oAll[i].className === selector.replace(".", "")) {
							arrEle.push(oAll[i]);
						}
					} else if(/^#/.test(selector)) {
						if (oAll[i].id === selector.replace("#", "")) {
							arrEle.push(oAll[i]);
						}
					}
				}
			}
		}
		return arrEle;
	};*/

	var eleDustbin = $(".dustbin")[0], eleDrags = $(".draglist")
	lDrags = eleDrags.length
	var clusterOnScreen = new Array(lDrags)
	eleRemind = $(".dragremind")[0]
	eleDrag = null;
	for (var i=0; i<lDrags; i+=1) {
		clusterId = parseInt(eleDrags[i].getAttribute("clusterId"))
		nlpId = parseInt(eleDrags[i].getAttribute("nlpId"))
		dbId = parseInt(eleDrags[i].getAttribute("dbId"))
		clusterOnScreen[clusterId] = new Array()
		clusterOnScreen[clusterId].push([nlpId, dbId])
		
		eleDrags[i].onselectstart = function() {
			return false;
		};
		eleDrags[i].ondragstart = function(ev) {
			ev.dataTransfer.effectAllowed = "move";
			ev.dataTransfer.setData("text", ev.target.innerHTML);
			ev.dataTransfer.setDragImage(ev.target, 0, 0);
			eleDrag = ev.target;
			return true;
		};
		eleDrags[i].ondrop = function(ev) {
			if (eleDrag != null && eleDrag != this) {

				eleRemind.innerHTML = '<strong>合并了"' + this.innerHTML + '"和"' + eleDrag.innerHTML + '"</strong>';
				if (this.innerHTML.substr(0, 4) != "<br>")
					this.innerHTML = "<br>" + this.innerHTML
				if (eleDrag.innerHTML.substr(0, 4) != "<br>")
					this.innerHTML += ';<br> ' + eleDrag.innerHTML
				else
					this.innerHTML += ';<br> ' + eleDrag.innerHTML.substr(4)
				this.style.height = this.offsetHeight + eleDrag.offsetHeight / 6 + "px"
				this.style.width = this.offsetWidth + eleDrag.offsetWidth / 5 + "px"

				id1 = parseInt(this.getAttribute("clusterId"))
				id2 = parseInt(eleDrag.getAttribute("clusterId"))
				if (id1 > id2) {
					tmp = id1
					id1 = id2
					id2 = tmp
				}
				this.setAttribute("clusterId", id1)

				clusterOnScreen[id1] = clusterOnScreen[id1].concat(clusterOnScreen[id2])
				for (i = id2; i < clusterOnScreen.length - 1; i++) {
					clusterOnScreen[i] = clusterOnScreen[i + 1]
				}
				clusterOnScreen.pop()
				for (i = 0; i < lDrags; i++) {
					id = parseInt(eleDrags[i].getAttribute("clusterId"))
					if (id > id2)
						eleDrags[i].setAttribute("clusterId", id - 1)
				}
				eleDrag.parentNode.removeChild(eleDrag);
				eleDrag = null


			}
			this.style.color = "#000000";
			return false;
		};
		eleDrags[i].ondragend = function(ev) {
			ev.dataTransfer.clearData("text");
			this.style.color = "#000000";
			//eleDrag = null;
			return false
		};
	}
	for (var i = 0; i < lDrags; i += 1) {
		eleDrags[i].ondragover = function(ev) {
			//this.style.color = "#000000";
			ev.preventDefault();
			return true;
		};
		eleDrags[i].ondragenter = function(ev) {
			this.style.color = "#ffffff";
			return true;
		};
		eleDrags[i].ondragleave = function(ev) {
			this.style.color = "#000000";
			ev.preventDefault();
			return true;
		};
	}
	eleDustbin.ondragover = function(ev) {
		ev.preventDefault();

		return true;
	};

	eleDustbin.ondragenter = function(ev) {
		this.style.color = "#ffffff";
		return true;
	};
	eleDustbin.ondrop = function(ev) {
		if (eleDrag) {
			eleRemind.innerHTML = '<strong>Cluster:"' + eleDrag.innerHTML + '"</strong>合并完成';
			eleDrag.parentNode.removeChild(eleDrag);
		}
		this.style.color = "#000000";
		return false;
	};
</script>
</body>
</html>
