{% load staticfiles %}
{% load operationFilter %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Label Page</title>
<style>
body{font-size:84%;}
.dbDragBox{line-height:1.4; background-color:gray;font-size: 16px; font-family:"微软雅黑", "Yahei Mono"; text-align:center; text-shadow:-1px -1px #bbb; float:left; }

.dbDraglist{padding:10px; margin-bottom:5px; border:2px dashed #ccc; background-color:#eee; cursor:move;}
.dbDraglist:hover{border-color:#cad5eb; background-color:#f0f3f9;}
.dbDragremind{padding-top:2em; clear:both;}
.dbDraglist {
    background: #ffffff;
    -webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    float: left;
}

.dragBox{width:700px; padding-left:20px; float:left;}
.draglist{padding:10px; margin-bottom:5px; border:2px dashed #ccc; background-color:#eee; cursor:move;}
.draglist:hover{border-color:#cad5eb; background-color:#f0f3f9;}
.dragremind{padding-top:2em; clear:both;}
.draglist {
    background: #ffffff;
    -webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    float: left;
}
</style>
<script src="{% static "js/jquery.min.js" %}"></script>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script>
  $(function () { $("[data-toggle='popover']").popover(); });
  function submitMatchResult() {
    waitingDialog.show();
    json_res = JSON.stringify(matchDict)
        $.ajax( {
           type: "POST",
           url: "/saveMatchRes",
           data: {
              matchRes: json_res,
              csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
           },
           success: function (data) {
              if (data == "success"){
                 waitingDialog.hide();
                 location.href = "/labelPage";
              }
              else {
                 alert(data)
                 waitingDialog.hide();
              }
           },
           error: function(data) {
              alert("Some http error happens!")
              waitingDialog.hide();
           }
        });
  }
  var waitingDialog = waitingDialog || (function ($) {
    'use strict';

  // Creating modal dialog's DOM
  var $dialog = $(
    '<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">' +
    '<div class="modal-dialog modal-m">' +
    '<div class="modal-content">' +
      '<div class="modal-header"><h3 style="margin:0;"></h3></div>' +
      '<div class="modal-body">' +
        '<div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>' +
      '</div>' +
    '</div></div></div>');

  return {
    /**
     * Opens our dialog
     * @param message Custom message
     * @param options Custom options:
     *          options.dialogSize - bootstrap postfix for dialog size, e.g. "sm", "m";
     *          options.progressType - bootstrap postfix for progress bar type, e.g. "success", "warning".
     */
    show: function (message, options) {
      // Assigning defaults
      if (typeof options === 'undefined') {
        options = {};
      }
      if (typeof message === 'undefined') {
        message = 'Loading';
      }
      var settings = $.extend({
        dialogSize: 'm',
        progressType: '',
        onHide: null // This callback runs after the dialog was hidden
      }, options);

      // Configuring dialog
      $dialog.find('.modal-dialog').attr('class', 'modal-dialog').addClass('modal-' + settings.dialogSize);
      $dialog.find('.progress-bar').attr('class', 'progress-bar');
      if (settings.progressType) {
        $dialog.find('.progress-bar').addClass('progress-bar-' + settings.progressType);
      }
      $dialog.find('h3').text(message);
      // Adding callbacks
      if (typeof settings.onHide === 'function') {
        $dialog.off('hidden.bs.modal').on('hidden.bs.modal', function (e) {
          settings.onHide.call($dialog);
        });
      }
      // Opening dialog
      $dialog.modal();
    },
    /**
     * Closes dialog
     */
    hide: function () {
      $dialog.modal('hide');
    }
  };

})(jQuery);
</script>
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
     <div class="navbar-header">
        <a class="navbar-brand" href="#">Paraphrase Dictionary</a>
     </div>
     <div>
        <ul class="nav navbar-nav">
           {% if not hasLogin %}  
           <li class="active"><a href="#">Unknow User</a></li>
           <li><a onclick="tryLogin()" href="#">login</a></li>
           {% else %}
           <li class="active"><a href="#">{{ username }}</a></li>
           
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 Profile 
                 <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                 <li><a href="#">My task done: {{ taskCount }}</a></li>
                 <li><a href="#">Confidence: {{ confidence }}</a></li>
                 <li><a href="#">Level: {{ level }}</a></li>
                 <li class="divider"></li>
                 <li><a onclick="logout()" href="#">logout</a></li>
              </ul>
           </li>
           <li><a href="labelPage">Start now!</a></li>
           {% endif %}
           

        </ul>
     </div>
  </nav>
  {% csrf_token %}
  <div class="dbDragBox">
    {% for dbPara in dbParaList %}
    <div class="dbDragList" dbId={{ dbPara.dbId }} data-toggle="popover" title="{{ dbPara.dbParaName }}" data-content="Some example is here!">{{ dbPara.dbParaName }}</div>
    {% endfor %}
  </div>
  <div class="dragbox">
  {% for cid, cluster in nlpCluster %}
    <div class="draglist" cid={{ cid }} draggable="true">
      {% for nlpPara in cluster %}
        {{ nlpPara }}; <br>
      {% endfor %}
    </div>
  {% endfor %}
  </div>
<div class="dragremind"></div>
<button type="button" class="btn btn-primary btn-lg " id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Waiting" onclick="submitMatchResult()">Submit</button>
<script>
  var dbDraglist = $(".dbDraglist"), eleDrags = $(".draglist")
  lDrags = eleDrags.length
  eleRemind = $(".dragremind")[0]
  eleDrag = null;
  for (var i = 0; i < lDrags; i++) {    
    eleDrags[i].onselectstart = function() {
      return false;
    };
    eleDrags[i].ondragstart = function(ev) {
      ev.dataTransfer.effectAllowed = "move";
      ev.dataTransfer.setData("text", ev.target.innerHTML);
      ev.dataTransfer.setDragImage(ev.target, 0, 0);
      eleDrag = ev.target;
      return true;
    };
    eleDrags[i].ondrop = function(ev) {
      this.style.color = "#000000";
      eleDrag = null
      return false;
    };
    eleDrags[i].ondragend = function(ev) {
      ev.dataTransfer.clearData("text");
      this.style.color = "#000000";
      return false
    };
    eleDrags[i].ondragover = function(ev) {
      ev.preventDefault();
      return true;
    };
    eleDrags[i].ondragenter = function(ev) {
      this.style.color = "#ffffff";
      return true;
    };
    eleDrags[i].ondragleave = function(ev) {
      this.style.color = "#000000";
      ev.preventDefault();
      return true;
    };
  }

  dbDragLen = dbDraglist.length
  matchDict = {}
  for (var i = 0; i < dbDragLen; i++) {
    dbId = parseInt(dbDraglist[i].getAttribute("dbId"))
    matchDict[dbId] = []
    dbDraglist[i].ondrop = function(ev) {
      if (eleDrag != null) {
        className = eleDrag.getAttribute("class")
        if (className == "draglist"){
          this.style.color = "#000000";
          cid = parseInt(eleDrag.getAttribute("cid"))
          matchDict[dbId].push(cid)
          eleDrag.parentNode.removeChild(eleDrag)

        }
        eleDrag = null
      }
      return false;
    };
    dbDraglist[i].ondragover = function(ev) {
      ev.preventDefault();
      return true;
    };
    dbDraglist[i].ondragenter = function(ev) {
      this.style.color = "#ffffff";
      return true;
    };
    dbDraglist[i].ondragleave = function(ev) {
      this.style.color = "#000000";
      ev.preventDefault();
      return true;
    };
  }
</script>
</body>
</html>
